@font-face{font-family: heading;src: url('bauhaus-93.ttf');} 

.title {
    font-family:heading ;
}

#notif_display li a {
    width:80% ;
}

#notif_display li img {
    border:solid #ddd 1px ;
    margin:0 1% ;
    border-radius: 5px ;
}